@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 5px;
    color: #415067;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: #fff;
}

.header__logo {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 900;
}
.header__logo--special {
    color:#fff;
    background-color: #c6a179;

}
.header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #374c65;
    color: #fff;
    padding: 10px;
}
.nav__title {
    font-weight: bold;
    color: #fff;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: 100;
    transition: background-color 0.3s;
}

.nav__link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}



.features {
    margin-left: 40px;
    margin-right: 40px;
}

.features__title {
    margin-top: 20px;
    font-weight: 900;
    text-align: center;
}

.features__cards {
    margin-top: 40px;
    text-align: center;
    display: flex;
    font-size: 0.8rem;
}

.features__article {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.features__img {
    width: 60px;
}


.products__cards {
    /* display: flex; */
    width: 600px;
}
.products__article {
    display: flex;
}

.cards__cost {
    color: #c6a179;
}

.cards__button1 {
    border-radius: 60px;
    background-color: #c6a179;
    font-weight: bold;
    border-style: none;
    color: #fff;
    width: 90px;
    transition: background-color 0.3s;
}

.cards__button1:hover {
    background-color: #e0c1a0;
}

.cards__button1:active {
    transform: scale(1.05);
    background-color: #b08c67;
    box-shadow: 0 4px 8px rgba(192, 153, 111, 0.4); 
}

.cards__button2 {
    border-radius: 60px;
    font-weight: bold;
    background-color: #fff;
    border-style: none;
    width: 90px;
    transition: 
        background-color 0.3s,
        color 0.3s;
}

.cards__button2:hover {
    background-color: #6882a8;
    color: #fff;
}


.cards__button2:active {
    transform: scale(1.05);
    background-color: #556b8a; 
    box-shadow: 0 4px 8px rgba(104, 130, 168, 0.4);
}

.giftset-card__icons {
    display: flex;
}

.giftset-card-icons__description {
    font-weight: bold;
    text-align: left;
}

.giftset__card {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}

.card__cost {
    color: #c6a179;
}

.giftset-card__description {
    text-align: justify;
    width: 800px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.giftset-card__buttons {
    text-align: center;
}

.giftset-card__button1 {
    border-radius: 60px;
    background-color: #c6a179;
    margin-right: 100px;
    font-weight: bold;
    border-style: none;
    color: #fff;
    height: 25px;
    width: 130px;
    transition: background-color 0.3s;
}
.giftset-card__button1:hover {
    background-color: #e0c1a0;
}

.giftset-card__button1:active {
    transform: scale(1.05);
    background-color: #b08c67;
    box-shadow: 0 4px 8px rgba(192, 153, 111, 0.4); 
}


.giftset-card__button2 {
    border-radius: 60px;
    font-weight: bold;
    background-color: #fff;
    border-style: none;
    height: 25px;
    width: 130px;
    transition: 
        background-color 0.3s,
        color 0.3s;
}

.giftset-card__button2:hover {
    background-color: #6882a8;
    color: #fff;
}


.giftset-card__button2:active {
    transform: scale(1.05);
    background-color: #556b8a; 
    box-shadow: 0 4px 8px rgba(104, 130, 168, 0.4);
}

.related-products__img {
    width: 200px;
}

.related-products__cards {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 0.9rem; 
}

.related-products__card {
    text-align: justify;
    margin-right: 40px;
    width: 300px;
    text-align: left;
}

.footer {
    font-size: 0.7rem; 
    text-align: center;
}

